body {
  background-color: darkolivegreen;
}

img {
  border-radius: 50%;
  max-width: 200px;
  float: left;
}

a {
  color: grey;
}

.jumbotron {
  background-color: white;
  color: darkolivegreen;
  font-family: fantasy;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.well {
  background-color: white;
}

.well h2 {
  color: darkolivegreen;
  font-weight: bold;
}

.well h4 {
  font-style: italic;
}

.about {
  color: white;
}

.highlight {
  background-color: lightsalmon;
  padding: 3px;
}

.countries li {
  color: darkolivegreen;
  font-weight: bold;
}

.button {
  background-color: darkolivegreen;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  border-radius: 12px;
}
